body {
    border: 25px black solid;
    height: 450px;
    width: 600px;
    margin: 0 auto;
    background-color: #1F2937;
    padding-left: 100px;
    text-align: center;
}
.container {
    text-align: left;
    color: white;
    margin: 0 auto;
    padding: auto;
}
.lineone {
    margin: auto;
    color: white;
}
span {
    margin: auto;
    color: #4ADF86;
}
#pass-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: auto;
    margin-top: 20px;
    border-radius: 5px;
    background: #10B981;
    border: none;
    padding: 9px 17px 9px 15px;
}
hr {
    border: 1px solid #2F3E53;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#psdisplay {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #55F991;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
}
#password-one {
    height: 32px;
    width: 180px;
    position: absolute;
    background: #273549;
    margin-right: auto;
    
}
#password-two {
    height: 32px;
    width: 180px;
    position: absolute;
    background: #273549;
    margin-top: 50px;
    
}
#rangeValue {
    float: center;
    margin-right: 25px;
    margin-top: 30px;
    margin-left: 50px;
    
}